<div class="container-fluid p-3 h-100 overlay-bg">

  <!-- top heading -->
  <div class="row m-3 justify-content-center align-self-center" >
    <div class="heading-warp">
      <div class="heading-bg">
        <h2 class="heading mb-0">LINE 1 拋料看板</h2>
      </div>
    </div>
  </div>

  <!-- row 1 -->
  <div class="row m-3">

    <!-- left panel -->
    <div class="col-md-9">
      <div class="row h-100">
        <div class="col-md-12 overlay-panel p-2">
          <div class="row">    
            <div class="col-md-4">
              <div class="text-center">
                <h5 class="text-white">当前工单</h5>
                <text class="text-number">8111776706</text>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <h5 class="text-white">当前程序</h5>
                <text class="text-number">F3128-1016-4T</text>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <h5 class="text-white">节拍时间</h5>
                <text class="text-number">15</text>
                <text class="text-number-unit"> 秒</text>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center mt-3">
                <h5 class="text-white">生产进度</h5>
                <text class="text-number">2000 /16000</text>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <h5 class="text-white mt-3">已生产时间</h5>
                <text class="text-number">8</text>
                <text class="text-number-unit"> 小时</text>
                <text class="text-number">15</text>
                <text class="text-number-unit"> 分钟</text>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center"> 
                <h5 class="text-white mt-3">剩余时间</h5>
                <text class="text-number">1</text>
                <text class="text-number-unit"> 小时</text>
                <text class="text-number">20</text>
                <text class="text-number-unit"> 分钟</text>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- right staff panel -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <div class="card overlay-card">
            <img src="/images/user.jpg" class="card-img-top" alt="user" style="height:160px" >
            <div class="card-body py-2 text-center text-white">
              <h6>领班</h6>
              <h5 class="mb-1">张某某</h5>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card overlay-card">
            <img src="/images/user.jpg" class="card-img-top" alt="user" style="height:160px" >
            <div class="card-body py-2 text-center text-white">
              <h6>技术员</h6>
              <h5 class="mb-1">陈某某</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row 2-->
  <div class="row m-3">

    <!-- left chart -->
    <div class="col-md-6 pl-0 pr-2">
      <div id="chart2-1" class="overlay-chart vh-54"></div>
    </div>

    <!-- right chart -->
    <div class="col-md-6 pr-0">
      <div id="chart2-2" class="overlay-chart vh-54"></div>
    </div>
  </div>
 
</div>
