<div class="continer-fluid p-3 overlay-bg h-100">

  <!-- top heading  -->
  <div class="row justify-content-center align-self-center" >
    <div class="heading-bg">
      <h2 class="mb-0">SMT 即時電子看板</h2>
    </div>
  </div>
  <!-- buttons  -->
  <div class="row justify-content-center align-self-start my-3 mb-3">
    <div class="col-md-12">
      <button class="btn btn-outline-light">切換</button>
      <button class="btn btn-outline-light">更新</button>
      <button class="btn btn-outline-light">停止</button>
      <button class="btn btn-outline-light">開始</button>
    </div>
  </div>

  <!-- content  -->
  <div class="row  mt-1">

    <!-- top panel 1 -->
    <div class="col-md-12">
        <div class="subheading-bg">
          <text>SMT 供單使用情況 [18]</text>
        </div>
        <div class="overlay">
          <table class="table table-sm table-striped table-borderless m-0">
            <thead>
              <tr><th>序號</th><th>線別</th><th>工單</th><th>目標量</th><th>產出量</th><th>達成率</th><th>拋料PPM</th></tr>
            </thead>
            <tbody>
              <tr class="highlight"><th>1</th><td>S1A</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
              <tr><th>2</th><td>S1B</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
              <tr><th>3</th><td>S1B</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
              <tr><th>4</th><td>S1B</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
              <tr><th>5</th><td>S1B</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
            </tbody>
          </table>
      </div>
    </div>

    <!-- left panel 2 -->
    <div class="col-md-6  my-1">
      <div class="subheading-bg">
        <text>MSD 過期狀況 [0]</text>
      </div>
      <div class="overlay">
        <table class="table table-sm table-striped table-borderless m-0 ">
          <thead>
            <tr><th>序號</th><th>機台</th><th>料站</th><th>料號</th><th>FEEDER ID</th><th>狀態</th><th>過期時間</th></tr>
          </thead>
          <tbody>
            <tr><th>1</th><td>AM-2</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
            <tr><th>2</th><td>AM-2</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
            <tr><th>3</th><td>NPM-1</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
            <tr><th>4</th><td>NPM-1</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
            <tr><th>5</th><td>NPM-1</td><td>Table-3</td><td>20L</td><td>10269</td><td>49</td><td>4771</td></tr>
          </tbody>
        </table>
        </div>
    </div>

    <!-- right panel 3 -->
    <div class="col-md-6  my-1">
      <div class="subheading-bg">
        <text>拋料預警</text>
      </div>
      <div class="overlay">
        <table class="table table-sm table-striped table-borderless m-0 ">
          <thead>
            <tr><th>序號</th><th>機台</th><th>FEEDER ID</th><th>料站</th><th>拋料率</th></tr>
          </thead>
          <tbody>
            <tr class="highlight"><th>1</th><td>AM-2</td><td>Table-3</td><td>20L</td><td>10269</td></tr>
            <tr class="highlight"><th>2</th><td>AM-2</td><td>Table-3</td><td>20L</td><td>10269</td></tr>
            <tr><th>3</th><td>NPM-1</td><td>Table-3</td><td>20L</td><td>10269</td></tr>
            <tr><th>4</th><td>NPM-1</td><td>Table-3</td><td>20L</td><td>10269</td></tr>
            <tr><th>5</th><td>NPM-1</td><td>Table-3</td><td>20L</td><td>10269</td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- left panel 4 -->
    <div class="col-md-6  my-1">
      <div class="subheading-bg">
        <text>FEEDER 使用資料預警 [0]</text>
      </div>
      <div class="overlay">
        <table class="table table-sm table-striped table-borderless m-0 ">
          <thead>
            <tr><th>序號</th><th>機台</th><th>料站</th><th>FEEDER ID</th><th>使用次數</th><th>狀態</th></tr>
          </thead>
          <tbody>
            <tr class="highlight"><th>1</th><td>1A-05-CM602</td><td>30005</td><td>10269</td><td>5</td><td>缺料</td></tr>
            <tr><th>2</th><td>1A-05-CM602</td><td>30005</td><td>10269</td><td>1</td><td>正常</td></tr>
            <tr><th>3</th><td>1A-05-CM602</td><td>30005</td><td>10269</td><td>1</td><td>正常</td></tr>
            <tr><th>4</th><td>1A-05-CM602</td><td>30005</td><td>10269</td><td>1</td><td>正常</td></tr>
            <tr><th>5</th><td>1A-05-CM602</td><td>30005</td><td>10269</td><td>1</td><td>正常</td></tr>
            <tr><th>6</th><td>1A-05-CM602</td><td>30005</td><td>10269</td><td>1</td><td>正常</td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- right panel 5 -->
    <div class="col-md-6  my-1">
      <div class="subheading-bg">
        <text>SMT 當前用料餘量 [146]</text>
      </div>
      <div class="overlay">
        <table class="table table-sm table-striped table-borderless m-0 ">
          <thead>
            <tr><th>序號</th><th>機台</th><th>料站</th><th>料號</th><th>餘料</th><th>狀態</th></tr>
          </thead>
          <tbody>
            <tr><th>1</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
            <tr><th>2</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
            <tr><th>3</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
            <tr><th>4</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
            <tr><th>5</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
            <tr><th>6</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
            <tr><th>7</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
            <tr><th>8</th><td>1A-05-CM602</td><td>30005</td><td>6010B0136401</td><td>0</td><td>缺料</td></tr>
          </tbody>
        </table>
      </div>
    </div>

  </div> 
</div>
